html, body, #container {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: greyscale;
    text-rendering: optimizeLegibility;
}
